<!DOCTYPE html>
<html>
	<head>
		{% if title %}
			<title> {{ title }} </title>
		{% else %}
			<title> varinate-bac </title>
		{% endif %}

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<link href = "css/styles.css" rel="stylesheet"/>

	</head>

	<body>
		<div class = "navbar navbar-inverse navbar-static-top" >
			<div class="container">
				{% if g.user.is_authenticated() %}
					<a class="navbar-brand" href="{{url_for('users', name="g.user.name")}}">
						{{ g.user.name }}
					</a>
					<a class="navbar-brand" href="{{ url_for('logout')}}">
						Log Out
					</a>
				{% else %}
					<a class="navbar-brand" href="{{ url_for('login') }}">
						Log In
					</a>
				{% endif %}

				<div class="collapse navbar-collapse navHeaderCollapse">
					<ul class="nav navbar-nav navbar-right">
						<!--  vezi cu buonul ala sa fie la oate ok apasat-->
						<li class="active"><a href="{{ url_for('index')}}"> Home </a> </li>
						<li> <a href="{{url_for('creeaza')}}"> Creeaza </a></li>
						<li> <a href="{{url_for('choose')}}"> Alege o varianta </a> </li>
					</ul>

				</div>

			</div>
		</div>
		<div id="content">
			<!-- flashed messages -->

			{% with messages = get_flashed_messages() %}
				{% for message in messages %}
					{% if message %}
						<div class="alert alert-info">
							<button type="button" class="close" data-dismiss="alert">&times;</button>
							{{ message }}
						</div>
					{% endif %}
				{% endfor %}
			{% endwith %}

			{% block content %}
			{% endblock %}
		</div>
		<div class="navbar navbar-default navbar-fixed-bottom">
			<div class = "container">
				<p class="navbar-text"> Software utilitar contruit de Danila Marius Cristian pentru Info Educatie </p>

			</div>

		</div>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="js/bootstrap.js"></script>
	</body>
</html>