{% extends "base.html" %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-lg-9">
			<div class="panel panel-default">
				<div class="panel-body">
					<!-- test -->
					<div class="page-header">
						<h3> {{ question.text }} </h3>
					</div>
					<br>
					<form method="post" name="questionform" action="">
						{{ form.hidden_tag() }}
						
						<div class="checkbox">
							<p> {{answers[0].text}} {{ form.option_1(value=answers_values[0]) }} </p>
							<p> {{answers[1].text}} {{ form.option_2(value=answers_values[1], class="form-element") }} </p>
							<p> {{answers[2].text}} {{ form.option_3(value=answers_values[2]) }} </p>
							<p> {{answers[3].text}} {{ form.option_4(value=answers_values[3]) }} </p>
						</div>
						<input class="btn btn-success" type="submit" value="Urmatoarea Intrebare"/>
					</form>
				</div>
			</div>
		</div>
	</div>
<div>
{% endblock %}